//
//  Theme mixin
//  Set the theme for elements
//
//  Initialise our variables as 'null' when used outside of the mixin
$primary: null;         // Output nothing
$secondary: null;       // Output nothing

//  @param $themes:    Map of themes to use
@mixin theme($themes: $themes) {
    // Iterate over the themes
    @each $theme, $styles in $themes {
        // Create a selector (e.g. '.btn--dragon')
        &--#{$theme} {
            // Set the theme variables with '!global'
            $primary: map-get($styles, 'primary') !global;
            $secondary: map-get($styles, 'secondary') !global;

            // Output user content
            @content;

            // Unset the theme variables with '!global'
            $primary: null !global;
            $secondary: null !global;
        }
    }
}