// Colour names based on: http://chir.ag/projects/name-that-color/

// White
$white: #fff !default;
// Black
$black: #000 !default;

// Blue
$denim: #1779ba !default;

// Theme: primary
$primary: $denim;		// Background
$secondary: $white;		// Foreground